.social_icon {
    height: 30px;
    width: 30px;
    transition: 0.3s;


    &:hover {
        height: 53px;
        background: black;
        margin: 10px;
        padding: 15px;
        position: relative;
        border-radius: 100% 100% 0% 0%;
        width: 73px;
        top: -11px;

    }
}

.search_i {
    border-radius: 24px;
    width: 40px;
    background: #d8e1f0;
    margin-right: -11px;
    z-index: 1;
    height: 40px;
    padding: 6px;
}

.badgeClicked {
    background-color: #03629c;
    color: white !important;
}

.badge {
    padding: 6px 9px;
    color: black;
    border: 0px;
}

.mode_b {
    background: white;
    color: black;
    padding: 4px 10px;
    border-radius: 8px;
    margin: 0px 7px;
}

.mode_active {
    background: #054b79;
    color: white;
}

.nav-link {
    color: grey;
    border-bottom: 1px solid black;
}

.comp_btn {
    background: white;
    color: black;
    padding: 4px 10px;
    border-radius: 11px;
    margin: 14px 6px;
    /* margin-right: 14px; */
    border: 1px solid grey;
}

.comp_selected {
    background-color: #03629c;
    color: white;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: black !important;
    color: var(--bs-nav-pills-link-active-color);
    background-color: #cee5ff;
    font-weight: 600;
    border-bottom: 2px solid #03629c;
}